<div class="row">
    <div class="col-md-2">
       <RadzenIcon Icon="error" Style="color:crimson; font-size:48px; margin-top:20px" ></RadzenIcon>
    </div>
    <div class="col-md-10">
        <RadzenCard Style="background-color:whitesmoke">
            <p style="text-align:center;">
                You get this error because the element you would like to delete has associated records within another table, Please delete them and try again!
            </p>
        </RadzenCard>
    </div>
</div>
                      







@code {

}